.container{
    border:3px solid #4f81bd;
    position: absolute;
    width: 97%;
    height: 97%;
}

.qtr{
    position: absolute;
    margin: auto;
    cursor: pointer;
}

.north{
    background: #a6dcff;
    border: 2px solid #bf9da9;
    width: 105px;
    height: 53px;
    top:0;
    left: 0;
    right: 0;
}

.east{
    background: #f9ce80;
    border: 2px solid #bf9da9;
    width: 53px;
    height: 105px;
    top: 0;
    bottom: 0;
    right: 0;

}

.south{
    background: #fafa80;
    border: 2px solid #bf9da9;
    width: 105px;
    height: 53px;
    bottom:0;
    left: 0;
    right: 0;

}

.west{
    background: #acffa5;
    border: 2px solid #bf9da9;
    width: 53px;
    height: 105px;
    top: 0;
    bottom: 0;
    left: 0;
}

.center{
    background: #fa81ae;
    border:2px solid #bf9da9;
    width: 106px;
    height: 106px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.click{
    filter: brightness(75%);
}


